<div class="preview">
  <h2 class="header">
    Experience effortless shipping management:<br><span class="header__item">empowering</span> brokers,
    shippers, and drivers<span class="header__item"> to drive<br> success together!</span>
  </h2>

  <img src="assets/images/home-preview.png" alt="preview">

  <ul class="preview__list">
    <li class="preview__list-item">
      <mat-icon>check_circle</mat-icon>
      Instantly issue virtual corporate cards
    </li>
    <li class="preview__list-item">
      <mat-icon>check_circle</mat-icon>
      Control spending before it happens
    </li>
    <li class="preview__list-item">
      <mat-icon>check_circle</mat-icon>
      Automate your expense management
    </li>
  </ul>
</div>

<article class="news">
  <a class="twitter-timeline" data-lang="en" data-width="320" data-height="500" href="https://twitter.com/fsnastassia?ref_src=twsrc%5Etfw">Follow our news</a>
</article>
