<div class="logo" routerLink="/">
  <button
    *ngIf="!isHomePage"
    mat-icon-button
    class="logo__back-btn"
    aria-label="Back to Home page"
  >
    <mat-icon>navigate_before</mat-icon>
  </button>
  <h1 class="logo__header">MPR</h1>
</div>

<nav class="nav">
  <ul>
    <li class="nav__item" routerLinkActive="nav__item--active">
      <a routerLink="/features">Features</a>
    </li>
    <li class="nav__item" routerLinkActive="nav__item--active">
      <a routerLink="/blog">Blog</a>
    </li>
    <li class="nav__item" routerLinkActive="nav__item--active">
      <a routerLink="/about">About</a>
    </li>
  </ul>
</nav>

<ng-container *ngIf="!user; else userTemplate">
  <button mat-raised-button (click)="openLoginForm()">Log in</button>
  <button mat-raised-button color="primary" (click)="openRegistrationForm()">Get Started</button>
</ng-container>

<ng-template #userTemplate>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="userMenu">{{ user!.login }}</button>

  <mat-menu #userMenu="matMenu">
    <a mat-menu-item [routerLink]="['/', user!.login]">Profile</a>
    <button mat-menu-item>Log out</button>
  </mat-menu>
</ng-template>
