<div class="wrapper">
  <h2 class="title">Registration</h2>
  <p class="description">Fill all fields</p>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput placeholder="Enter your login" formControlName="login" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>r
      <input
        matInput
        type="email"
        placeholder="Enter your email"
        formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>r
      <input
        matInput
        type="password"
        placeholder="Enter your password"
        formControlName="password" />
    </mat-form-field>

    <button
      mat-button
      cdkFocusInitial
      type="submit"
      [disabled]="!registerForm.valid">
      Log in
    </button>
  </form>
</div>
