<div>
  <h2>Our blog</h2>
  <p>Lorem ipsum dolor sit amet consectetur. Amet cras scelerisque pretium consectetur vitae.
    Laoreet cursus et arcu ornare. Aliquet posuere lobortis at.
  </p>
  <button mat-raised-button>Subscribe</button>
</div>

<div class="posts-wrapper">
  <section *ngFor="let post of posts" class="post">
    <div class="post__img-wrapper">
      <img class="post__img" loading="lazy" [src]="post.src || 'assets/images/default-post-img.png'">
    </div>
    <h2 class="post__header">{{ post.header }}</h2>
    <p class="post__description">{{ post.description }}</p>

    <button mat-button>Read post</button>
  </section>

  <div *ngIf="!(posts && posts.length)">
    Posts not found
  </div>
</div>
