<div class="dialog">
  <h2 class="dialog__title">Log in to your account</h2>
  <p class="dialog__description">Welcome back! Please enter your details</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput placeholder="Enter your login" formControlName="login" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter your password"
        formControlName="password" />
    </mat-form-field>

    <button
      mat-button
      cdkFocusInitial
      type="submit"
      class="dialog__btn dialog__btn--submit"
      [disabled]="!loginForm.valid">
      Log in
    </button>
  </form>
</div>
